@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Poppins:wght@800&family=Square+Peg&display=swap');
@import url(button.css);
body{
    background: #181818;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
   
}
*{
    text-decoration: none;

}
a{
    text-decoration: none;
    cursor: pointer;
    color: #FFFFFF;
}
p , h1 , h2 ,h4{
    margin: 0px;
}

.flex{
    display: flex;
}
.section_head{
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-align: center;
}
.section_p{
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    max-width: 582px;
    margin-top: 27px;
}
/* -------------------------------------header_style */
header{
    height: 119px;
      
}
.header_iner{
    height: 100%;
    max-width: 1097px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin: auto;
}
.menu_icon{
    display: none;
}
/* ---------------------------------------navigation  */

.navigation{
    width: 393px;
    height: 44px;
}
.navigation>ul{
    justify-content: space-between;
    color:#FFFFFF;
    list-style-type:none;
    font-family: 'Manrope', sans-serif;
    padding: 0px 20px;
}
/* ------------------------------------------first section */

.title{
    min-height: 528px;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.title>h1{
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 80px;
    line-height: 88px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    max-width: 729px;
    margin-top: 85px;
}

/* ----------------------------------buttons */

.buttons_wrap{
    width: 387px;
    justify-content: space-between;
    margin-top: 85px;
}

/* -------------------------------------secrion_2 */

.section_2{
    margin-top: 35px;
    position: relative;
}
.gradient{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 67.1%;
    bottom: 0%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0E0E0E 66.15%);
}
.section_2>img{
    margin: auto;
    max-width: 100%;
}

/* ------------------------------------------section_FEATURES */

.FEATURES{
    min-height: 1112px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.heading{
    max-width: 602px;
    height: 149px;
    margin-bottom: 80px;
}

.features{
    max-width: 1088px;
    /* height: 759px; */
    align-items: center;
}

.features>img{
    max-width: 69%;
}
.content_rows{
    /* width: 309px; */
    height: 651px;
}
.rows{
    width: 269px;
    height: 196px;
    padding: 10px;
}
.text_p{
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.rows_hed{
    margin: 10px 0px;
    align-items: flex-start;
}
.rows_hed>img{
    margin: 5px 10px 0px 0px;
}
.text_h4{
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    width: 153px;
}

/* --------------------------------------------contact section */

.contact_section{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.cards{
    width: 985px;
    
    justify-content: space-between;
}
.card{
    width: 476px;
    
    flex-direction: column;
    background: #FFFFFF;
    text-align: center;
    align-items: center;
    border-radius: 10px;
}
.head_wrap>h4{
    color: #000000;
    margin-bottom: 20px;
    width: 300px;
}
.head_wrap>p {
    color: #5C5C5C;
    /* width: 278px; */
}
.head_wrap{
    width: 288px;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    padding: 10px;
}

/* ----------------------------------------------GALLERY section */

.GALLERY{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

}
.gallery_wrap{
    /* max-width: 1087px; */
    min-height: 916px;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.card_gal_t{
    width: 999px;
    min-height: 285px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card_gal_b{
    width: 1087px;
    height: 285px;
    justify-content: space-between;
    

}
.card_gal_t>img{
    border-radius: 12px;
}
.card_gal_b>img{
    border-radius: 12px;
}

/* ----------------------------------------------------Partners section  */

.partners{
    height: 484px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}
.brands{
    width: 540px;
    /* height: 70px; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.partners>div:nth-child(1){
    margin: 0px;
}

/* ------------------------------------------------------- footer  */

footer{
    height: 437px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Manrope', sans-serif;
    color: #FFFFFF;
    margin-top: 100px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.footer_content{  
    width: 1031px;
    height: 223px;
    display: flex;
    justify-content: space-between;
}
.left_block{
    width: 513px;
    height: 223px;
    justify-content: space-between;

}
.f_list{
    display: flex;
    flex-direction: column;
}
.f_contact{
    width: 285px;
    height: 191px;
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
}
.f_list>ul{
    width: 121px;
    height: 153px;
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
}
.f_list>h4{
    font-size: 20px;
    line-height: 30px;
}
.location , .phone{
    align-items: center;
}
.soc_media{
    width: 171px;
    justify-content: space-between;
    margin: 20px 0px;
}